<h2>Authors</h2>
The following people contributed to the content of this lesson:
<div class="author-table">
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<table>
  <tr>
    <td align="center"><a href="https://meirinoanevans.wixsite.com/portfolio"><img src="https://avatars1.githubusercontent.com/u/32399892?v=4" width="100px;" alt=""/><br /><sub><b>Meirin Oan Evans</b></sub></a><br /><a href="#content-meevans1" title="Content">🖋</a></td>
    <td align="center"><a href="https://guillermofidalgo.github.io/"><img src="https://avatars.githubusercontent.com/u/17858942?s=400&u=d7e23e9ab2efc189640a2bc1c82f0c560fda96d2&v=4" width="100px;" alt=""/><br /><sub><b>Guillermo Fidalgo</b></sub></a><br /><a href="#content-GuillermoFidalgo" title="Content">🖋</a></td>
  </tr>
</table>

<!-- markdownlint-enable -->
<!-- prettier-ignore-end -->
<!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
Note that this list does not include the contributors to the framework.
