<h2>Authors</h2>
The following people contributed to the content of this lesson:
<div class="author-table">
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->
<table>
  <tr>
    <td align="center"><a href="https://meirinoanevans.wixsite.com/portfolio"><img src="https://avatars1.githubusercontent.com/u/32399892?v=4?s=100" width="100px;" alt=""/><br /><sub><b>Meirin Oan Evans</b></sub></a><br /><a href="#content-meevans1" title="Content">🖋</a></td>
    <td align="center"><a href="https://github.com/amorenobr"><img src="https://avatars.githubusercontent.com/u/60275989?v=4?s=100" width="100px;" alt=""/><br /><sub><b>amorenobr</b></sub></a><br /><a href="#content-amorenobr" title="Content">🖋</a></td>
    <td align="center"><a href="https://github.com/GuillermoFidalgo"><img src="https://avatars.githubusercontent.com/u/17858942?v=4?s=100" width="100px;" alt=""/><br /><sub><b>Guillermo A. Fidalgo-Rodríguez</b></sub></a><br /><a href="#content-GuillermoFidalgo" title="Content">🖋</a></td>
    <td align="center"><a href="https://github.com/Marchela04"><img src="https://avatars.githubusercontent.com/u/68828366?v=4?s=100" width="100px;" alt=""/><br /><sub><b>Marchela04</b></sub></a><br /><a href="#content-Marchela04" title="Content">🖋</a></td>
    <td align="center"><a href="https://github.com/ekauffma"><img src="https://avatars.githubusercontent.com/u/65742271?v=4?s=100" width="100px;" alt=""/><br /><sub><b>ekauffma</b></sub></a><br /><a href="#content-ekauffma" title="Content">🖋</a></td>
    <td align="center"><a href="https://github.com/amanmdesai"><img src="https://avatars.githubusercontent.com/u/98302868?v=4?s=100" width="100px;" alt=""/><br /><sub><b>Aman Desai</b></sub></a><br /><a href="#content-amanmdesai" title="Content">🖋</a></td>
    <td align="center"><a href="https://www.lieret.net"><img src="https://avatars.githubusercontent.com/u/13602468?v=4?s=100" width="100px;" alt=""/><br /><sub><b>Kilian Lieret</b></sub></a><br /><a href="#content-klieret" title="Content">🖋</a></td>
  </tr>
</table>

<!-- markdownlint-restore -->
<!-- prettier-ignore-end -->

<!-- ALL-CONTRIBUTORS-LIST:END -->
</div>
Note that this list does not include the contributors to the framework.